.container-fluid
  .col-sm-4
    %article
      .category
        %a{href: "#"} Astronomy
      %h3
        %a{href: '#'}= @articles.first.title
      .meta
        %a{href: "#"} Admin User
        \/
        %a{href: "#"} 15 January 2014
      = markdown(truncate(@articles.first.preview, {length: 200, omission: ' [...]'}))
      .actions
        .pull-left
          %a{href: '#', class: 'btn read'} Read
        .pull-right
          %a{href: '#', class: 'social_solid'}
            %span{class: 'fa fa-facebook'}
          %a{href: '#', class: 'social_solid'}
            %span{class: 'fa fa-twitter'}
          %a{href: '#', class: 'social_solid'}
            %span{class: 'fa fa-google-plus'}
  .col-sm-4
    %article
      .category
        %a{href: "#"} Astronomy
      %h3
        %a{href: '#'}= @articles.first.title
      .meta
        %a{href: "#"} Admin User
        \/
        %a{href: "#"} 15 January 2014
      = markdown(truncate(@articles.first.preview, {length: 200, omission: ' [...]'}))
  .col-sm-4
    %article
      .category
        %a{href: "#"} Astronomy
      %h3
        %a{href: '#'}= @articles.first.title
      .meta
        %a{href: "#"} Admin User
        \/
        %a{href: "#"} 15 January 2014
      = markdown(truncate(@articles.first.preview, {length: 200, omission: ' [...]'}))