%aside.aside
  %nav.sidebar
    .item.user-block
      .user-block-picture
        .user-block-status
          %img.img-thumbnail.img-circle{:alt => "Avatar", :height => "60", :src => "app/img/user/02.jpg", :width => "60"}/
          .circle.circle-success.circle-lg
      .user-block-info
        %span.user-block-name.item-text Welcome User
        %span.user-block-role= current_user.name.split(' ').first
    %ul.nav
      %li.nav-heading Main navigation
      = admin_sidebar_item("/admin/dashboard", "Dashboard", "dot-circle-o")
      = admin_sidebar_item("/admin/articles", "Articles", "edit")
      = admin_sidebar_item("/admin/pages", "Pages", "flask")
      = admin_sidebar_item("/admin/users", "Users", "users")
      - if params[:controller].split('/').include?('settings')
        %li.active
          %a.no-submenu{"data-toggle" => "collapse-next", :href => "/admin/settings", :title => "Settings"}
            %em.fa.fa-cogs
            %span.item-text Settings
            %ul.nav
              = admin_sidebar_submenu_item(admin_settings_categories_path, "Categories")
      - else
        %li
          %a.no-submenu{"data-toggle" => "collapse-next", :href => "/admin/settings", :title => "Settings"}
            %em.fa.fa-cogs
            %span.item-text Settings
            %ul.nav.collapse
              = admin_sidebar_submenu_item(admin_settings_categories_path, "Categories")
